*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    min-width: 360px;
    font-size: 62.5%;
}
.main-nav {   
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px rgba(89, 73 ,30, 0.16);
}
.main-nav__emoji{
    width: 10%;
    margin: auto;   
}
.main-nav__emoji p{
    font-size: 3.5rem;
    text-align: center;
}
.main-nav__list{ 
    text-align: end;  
    padding: 10px;   
    width: 90%;
}
.main-nav__link{  
    display: inline-block;  
    font-size: 1.6rem;
    margin: 10px 0;
    padding: 10px 20px;   
}
.main-nav__link:hover {
    box-shadow: 0 4px 8px rgba(89, 73 ,30, 0.16);  
}

.main-nav__link a{
    text-decoration: none;
    color: black;
    font-size: 2.5rem;
}