h1{
    color:rgb(72, 174, 231 );
    text-align: center;
    font-size: 60px;
}
.formulario{
    border: 5px solid cornflowerblue;
   margin: 0px 300px 0px 300px;
   padding: 2px 20px 2px 20px;
   border-radius: 20px;
}


.centrar{
    padding: 0 auto;
    
}